*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(science.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 1000;
}
header .logo img{
	width: 100px;
}
.slider{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: flex-end;
background-image: url(science.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.slider .imgBx{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.5s;
transition-delay: 0s;
z-index: 1;
clip-path: circle(0px at center);
}
.slider input[type="radio"]:checked + .imgBx{
z-index: 8;
clip-path: circle(1000px at center);
transition-delay: 0.75s;
}
.slider .imgBx img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.slider input[type="radio"]{
	position: relative;
	z-index: 999;
	margin: 5px;
	margin-bottom: 40px;
	outline: none;
	cursor: pointer;
}
@media (max-width: 768px){
	header{
		padding: 20px 40px;
	} 
	.slider .imgBx{
		padding: 40px;
	}
}










